.main__item-text{
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin: 0 auto;
    padding: 0;/* 162.5% */
}