.header{
    display: none;
}

.header_visible{
    display: flex;
    height: 50px;
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px
}